In [ ]:
import pandas as pd

In [ ]:
body_locations_path = '../resources/csv/body_locations.csv'
ridgway_locations_path = '../resources/csv/ridgway_locations.csv'
disappearances_path = '../resources/csv/disappearances.csv'
victims_main_path = '../resources/csv/Ridgway-victims_main.csv'
ridgway_info_path = '../resources/csv/Ridgway-ridgway.csv'

In [12]:
df_body_locations = pd.read_csv(body_locations_path)
df_ridgway = pd.read_csv(ridgway_locations_path)
df_disappearances = pd.read_csv(disappearances_path)
df_victims_main = pd.read_csv(victims_main_path)
df_ridgway_info = pd.read_csv(ridgway_info_path)

In [13]:
df_ridgway

            X          Y                                  Name  description
0 -122.274885  47.289336       Gary Ridgway's Auburn Residence          NaN
1 -122.278231  47.446175     Gary Ridgway's Mother's Residence          NaN
2 -122.305486  47.375037  Gary Ridgeway's Des Moines Residence          NaN
3 -122.291346  47.405191      Gary Ridgway's Sea-Tac Residence          NaN
4 -122.197833  47.491662             Kenworth Trucking Company          NaN

In [14]:
# clean up column names, drop extraneous 'decription' column
for df in [df_disappearances, df_ridgway, df_body_locations]:
    df.rename(
        columns={'Y': 'latitude', 'X': 'longitude', 'Name': 'name'},
        inplace=True
    )
    df.drop(columns='description', inplace=True)

In [15]:
# merge informational data with KMZ-sourced location data
df_body_locations_final = df_body_locations.merge(df_victims_main, on='name')[['name', 'latitude', 'longitude', 'age', 'body_found_date', 'body_location_notes']]

df_disappearances_final = df_disappearances.merge(df_victims_main, on='name')[['name', 'latitude', 'longitude', 'age', 'disappeared_date', 'disappearance_notes']]

df_ridgway_final = df_ridgway.merge(df_ridgway_info, on='name')[['name', 'latitude', 'longitude', 'date_start', 'date_end', 'other']]

In [16]:
# some extra cleanup to ensure column names are uniform
df_ridgway_final.fillna('', inplace=True)
df_ridgway_final['date'] = df_ridgway_final['date_start'] + ' - ' + df_ridgway_final['date_end']

df_ridgway_final.drop(columns=['date_start', 'date_end'], inplace=True)
df_ridgway_final.rename(columns={'other': 'notes'}, inplace=True)

df_body_locations_final.rename(columns={'body_found_date': 'date', 'body_location_notes': 'notes'}, inplace=True)
df_disappearances_final.rename(columns={'disappeared_date': 'date', 'disappearance_notes': 'notes'}, inplace=True)

In [8]:
# store the variables for use in the main notebook
%store df_body_locations_final
%store df_disappearances_final
%store df_ridgway_final

Stored 'df_body_locations_final' (DataFrame)
Stored 'df_disappearances_final' (DataFrame)
Stored 'df_ridgway_final' (DataFrame)